@{
    ViewData["Title"] = "Asignar pedido";
}

@using Cadeteria.ViewModels
@model PedidoModel

<section>
    @if (((List<CadeteViewModel>)ViewData["cadetes"]).Count > 0)
    {
        <form method="post" class="form-edit">
            <input type="number" id="idp" name="idp" value="@Model.Nro" hidden>
            <select id="idc" name="idc">
                @foreach (var cadete in (List<ClienteViewModel>)ViewData["cadetes"])
                {
                    <option value="@cadete.ID">@cadete.Nombre</option>
                }
            </select>
            <input type="submit" value="Asignar al pedido">
        </form>
    }
    else
    {
        <h3>No hay ningún cadete para asignar</h3>
    }
</section>