@{
    ViewData["Title"] = "Asignar pedido";
}

@model Cadeteria.ViewModels.PedidoViewModel

<section>
    @if (((List<Cadeteria.ViewModels.CadeteViewModel>)ViewData["cadetes"]).Count > 0)
    {
        <form method="post" class="form-edit">
            <input type="number" id="idp" name="idp" value="@Model.NumPedido" hidden>
            <select id="idc" name="idc">
                @foreach (var cadete in (List<Cadeteria.ViewModels.CadeteViewModel>)ViewData["cadetes"])
                {
                    <option value="@cadete.CadeteId">@cadete.nombre</option>
                }
            </select>
            <input type="submit" value="Asignar al pedido">
        </form>
    }
    else
    {
        <h3>No hay ningún cadete para asignar</h3>
    }
</section>