@{
    ViewData["Title"] = "Iniciar Sesi칩n";
}

<section id="logeo">
    <h2>Iniciar sesi칩n</h2>
    <form action="Logging/Verificar" method="post">
        <label for="usuario">Usuario
            <input type="text" name="usuario" id="usuario">
        </label>
        <label for="pass">Contrase침a
            <input type="password" name="pass" id="pass">
        </label>
        <button>Iniciar sesi칩n</button>
    </form>
</section>