@{
    ViewData["Title"] = "Home Page";
}

<h1>Cadetería</h1>
<section id="seleccion-principal">
    <a id="selec-cadetes" asp-controller="Cadete" asp-action="Index">Cadetes<img src="~/img/cadete.png"></a>
    <a id="selec-pedidos" asp-controller="Pedido" asp-action="Index">Pedidos<img src="~/img/pedido.png"></a>
    <a id="selec-clientes" asp-controller="Cliente" asp-action="Index">Clientes<img src="~/img/cliente.png"></a>
</section>
<a asp-controller="Home" asp-action="Restaurar" class="restaurar-datos">Restaurar datos</a>