@{
    ViewData["Title"] = "Sesiones";
}
@using Microsoft.AspNetCore.Http

<h1>Sesiones</h1>
<section id="sesiones">
    <p><strong>Username:</strong> @Context.Session.GetString("name")</p>
    <p><strong>Rol:</strong> @Context.Session.GetInt32("rol")</p>
</section>