html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table{
  background-color: rgb(0, 153, 255);
  box-shadow: gray 0px 0px 5px;
  border-radius: 0.8em;
  overflow: hidden;
  border: 1px rgb(0, 153, 255) solid;
}

table th{
  background-color: rgb(0, 153, 255);
  color: white;
  text-align: center;
  padding: 0.8em 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table td{
  padding: 10px 10px;
}

table tr{
  background-color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table tr:nth-child(even) {
    background-color: rgb(223, 223, 223);
}

.cadetes a, .pedidos a , .clientes a{
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.cadete-editar, .pedido-estado, .pedido-asignar, .cliente-editar{
  background-color: rgb(47, 148, 47);
}

.cadete-editar:hover, .pedido-estado:hover, .pedido-asignar:hover, .cliente-editar:hover{
    background-color: rgb(39, 121, 39);
}

.cadete-borrar, .pedido-borrar, .cliente-borrar{
  background-color: rgb(212, 54, 54);
}

.cadete-borrar:hover, .pedido-borrar:hover, .cliente-borrar:hover{
  background-color: rgb(173, 44, 44);
}

.pedido-detalles{
  background-color: slategray;
}

.cadete-detalles:hover, .pedido-detalles:hover{
  background-color: rgb(94, 107, 121);
}

a{
  text-decoration: none;
}

.table-botones{
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: 0;
}

.crear a{
    text-decoration: none;
    display: block;
    padding: 0.1em 0.5em;
    color: white;
    font-size: 20px;
    background-color: rgb(40, 199, 40);
    text-align: center;
    border-radius: 5px;
    transition: box-shadow 0.2s linear;
}

.crear a:hover{
    box-shadow: rgb(40, 199, 40) 0px 0px 10px;
}

.crear {
    display: inline-block;
    margin: 1em 0;
}

label{
  display: block;
  margin: 0.2em 0;
}

input[type="text"], input[type="number"] {
    border-radius: 10px;
    border: 1px gray solid;
    padding: 0.1em 0.3em;
}

h1{
    text-align: center;
    margin-bottom: 1em;
}

form button {
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 0.5em;
    font-weight: bold;
    display: block;
    color: gray;
    margin: auto;
    margin-top: 1em;
    transition: 0.3s box-shadow linear, 0.3s border linear, 0.3s color linear;
}

form button:hover {
    color: #4a4a4a;
    border: 1px solid gray;
    box-shadow: #dedede 0px 0px 5px;
}

input {
    margin-bottom: 1em;
}

form{
  margin: auto;
  border: 1px gray solid;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  width: fit-content;
}

.crear-cadete h2, .crear-pedido h2, .crear-cliente h2{
  text-align: center;
  margin: 1em 0;
}

.restaurar-datos {
    text-decoration: none;
    padding: 0.5em;
    background-color: rgb(113, 44, 249);
    color: white;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: 15px;
    margin: 20px 0;
    display: block;
    width: fit-content;
}

.restaurar-datos:hover {
    background-color: #5421b9;
    color: white;
}

#nuevo-cliente, #selec-cliente{
    overflow: hidden;
}

#nuevo-cliente{
    display: none;
}

#boton-cliente{
    color: white;
    background-color: steelblue;
    padding: 0.4em;
    margin: 0.2em auto;
    width: fit-content;
    display: block;
    font-size: 15px;
    transition: 0.2s box-shadow;
    border-radius: 5px;
}

#boton-cliente:hover{
    color: white;
    box-shadow: steelblue 0px 0px 5px;
}

#nuevo-cliente {
    transition: 0.3s height;
}

#seleccion-principal {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

#seleccion-principal a {
    padding-top: 0.5em;
    height: 10em;
    width: 10em;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

#seleccion-principal img {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 1.2em;
}

#selec-cadetes {
    background-color: rgb(0, 153, 255);
}

#selec-pedidos {
    background-color: #d1480d;
}

#selec-pedidos img{
    width: 60%;
    margin-top: 1em;
}

#selec-clientes {
    background-color: #41cc1b;
}

#selec-clientes img{
    width: 70%;
    margin-top: 0.5em;
}